#loginPage{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;

    //登录卡片
    #loginForm{
        width: 500px;
        height: 400px;
        background-color:#ffffff13;
        margin-right: 5em;
        padding:4em;
        border-radius: 10px;
        border: 2px solid #1677FF;
        box-shadow: #8d8d8d 10px 10px 20px;


    
        .loginCard{
        //    padding-right: 300px; 
        }

    }
}


