#loginPage{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;


    #loginForm{
        width: 500px;
        height: 400px;
        background-color:#ccc;
        margin-right: 5em;
        padding:2em;

    
        .loginCard{
        //    padding-right: 300px; 
        }

    }
}


